.container{
    margin: 5px 5px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
.product{
    display: block;
    padding: 20px 10px;
    margin: 10px 10px;
    height: 300px;
    width: 220px;
    border: 1px solid rgb(216, 211, 211);
    box-shadow: -5px -0px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1);
}
.product img{
    height: 170px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
#first{
    position: absolute;
    display: flex;
    left: 20px;
    top: 60px;
}
#second{
    position: absolute;
    display: flex;
    left: 20px;
    top: 380px;
}
.title{
    font-size: 15px;
    justify-content: center;
    display: flex;
}
button{
    margin-top: 2px;
    padding: 12px 20px;
    margin-left: 32px;
    background-color: #2874f0;
    border-radius: 4px;
    border: 1px solid rgb(194, 190, 190);
}
button:hover{
    cursor: pointer;
}
.product p{
    justify-content: center;
    display: flex;
    margin: 2px 5px;
    font-size: 18px;
    font-weight: 550;
}
.cart_items{
    width: 350px;
    float: right;
    text-align: center;
    border: 1px solid grey;
    overflow-y: scroll;
    height: 100vh;
}
.cartImg > img{
    width:200px;
}